body {
    background-color: cornsilk;
    font-size: 100%;
    margin-left: 3%;
    margin-right: 3%;
}
img {
    border-radius: 25%;
    border: 5px solid #000;
    float: right;
    margin-left: 5%;

}
h1, h2, h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a {
    font-size: 1em;
    color: #ff3399;
}
ol, ul {
    background-color: #ffcccc;
    list-style: circle;
    color: #660066;
    font-size: 1.5rem;
    padding-left: 5%;
    padding-top: 1%;
}
h1 {
    font-size: 4rem;
    text-align: center;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
p {
    font-size: 1.5rem;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2em;
}